# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be committed to version control
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# iOS/macOS
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Icon??
**/ios/**/Icon???
**/ios/**/Icon????
**/ios/**/Icon?????
**/ios/**/.instruments
**/ios/**/.iphone_app
**/ios/**/.iphonesimulator
**/ios/**/.iphoneos
**/ios/**/.iphoneos_default
**/ios/**/.iphonesimulator_default
**/ios/**/.xcode.env.defaults
**/ios/**/.xcode.env.local
**/ios/**/.xcode_env.sh
**/ios/**/.xcode_env.sh.local
**/ios/**/Manifest.ttxt
**/ios/**/Pods
**/ios/**/*.pbxproj
**/ios/**/*.xcarchive
**/ios/**/*.xcconfig
**/ios/**/*.xcframework
**/ios/**/*.xcodeproj
**/ios/**/*.xcworkspace
**/ios/**/*.plist
**/ios/**/*.lock
**/ios/**/*.entitlements
**/ios/**/GeneratedPluginRegistrant.*
**/ios/**/.XCODEVersion
**/ios/**/.xcode-select-path

# Android
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.jks
*.keystore

# Web
lib/generated_plugin_registrant.dart

# Windows
windows/flutter/generated_plugins.cmake
windows/flutter/generated_pluginc_class.h
windows/flutter/generated_plugins.h
windows/flutter/generated_registry.cc
windows/flutter/generated_registry.h
windows/flutter/windows_flutter_plugin_c_library.dll
windows/flutter/windows_flutter_plugin_c_library.dll.a
windows/flutter/windows_flutter_plugin_c_library_plugin_export.def
windows/runner/flutter_window.cpp
windows/runner/flutter_window.h
windows/runner/utils.cpp
windows/runner/utils.h
windows/runner/win32_window.cpp
windows/runner/win32_window.h

# Linux
linux/flutter/generated_plugins.cmake
linux/flutter/generated_pluginc_class.h
linux/flutter/generated_plugins.h
linux/flutter/generated_registry.cc
linux/flutter/generated_registry.h

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Flutter/Flutter-Debug.xcconfig
macos/Flutter/Flutter-Release.xcconfig
macos/Flutter/GeneratedPluginRegistrant.swift

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
